<%- include("header",{type:'signin'}) %>
<div class="container">
	<div class="side-menu">
		<div><a href="#">相册展示</a></div>
		<div><a href="/uploadimg">上传照片</a></div>
		<div><a href="/myinfo">返回</a></div>
	</div>
	<div class="photo-show">
		<div class="photo-content">
			<%for(var i = 0;i < imgs.length; i++){%>
				<div class="photo-item"><img src="/images/<%-imgs[i].img_src%>" alt="我的照片"></div>
			<%}%>
		</div>
	</div>
</div>
<% include footer %>