<%- include("header",{type:'signin'}) %>
<div class="container">
	<div class="pass-result">
		<div class="pass-title">您的MD5加密密码为:</div>
		<div class="pass-con"><%-str%></div>
		<a class="tb-border tb-btn" href="/myinfo">返回</a>
	</div>
</div>
<% include footer %>